<%- include("partials/header.ejs") %>

<style>
  #backgroundThanks{
    margin-bottom: 200px;
  }
</style>

<div id="flexContainer">
    <% if(locals.isAdmin){ %>
     <form action="/submit" method="post" id="newPostForm">
         <input type="text" name="title" id="title" placeholder="title">
         <textarea name="message" id="message" cols="30" rows="10" placeholder="message here"></textarea>
         <div id="submitContainer">
            <input type="submit" value="Submit" id="submit" name="choice">
            <input type="submit" value="Cancel" id="cancel" name="choice">
         </div>
     </form>
    <% } %>
</div>

<% if(locals.posts){ %>
  <% posts.forEach((post) => { %>
    <!--<div id="postContainer">
      <p id="title"><%= post.title%></p>
      <p id="date"><%= post.post_date %></p>
      <p id="message"><%= post.message %></p>
    </div>-->

    <article class="blog-post">
      <h2 class="display-5 link-body-emphasis mb-1"><%= post.title %></h2>
      <p class="blog-post-meta"><%= post.post_date %></p>
      <p><%= post.message %></p>
      <hr>
    </article>
  <% }); %>
<% } %>



<%- include("partials/footer.ejs") %>